#btn{
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
}
.body{
    height: 500px;
    width: 500px;
    /* background-color: aqua !important; */
    margin: auto;
    margin-top: 13%;
}
.btn{
    width: 485px;
    font-weight: bold !important;
    height: 40px;
    /* margin-top: 10px; */
    font-size: 16px;
}
.sign{
position: relative;
margin-left: 45%;
font-weight: bold;
}